body {
  font-family: "Segoe UI", sans-serif;
  background-color: #f4f6f8;
  text-align: center;
  padding: 2rem;
}

h1 {
  color: #333;
  margin-bottom: 1rem;
}

table {
  border-collapse: collapse;
  margin: 0 auto 1rem auto;
  width: 80%;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

th, td {
  border: 1px solid #ddd;
  padding: 0.8rem 1.2rem;
  text-align: center;
}

th {
  background: #0078d7;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

#zurueckButton {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #0078d7;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#zurueckButton:hover {
  background-color: #005fa3;
}


#logoutButton {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 0.5rem 1rem;
  background-color: #ff5c5c;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  box-shadow: 0 3px 6px rgba(0,0,0,0.2);
  transition: all 0.2s ease;
  z-index: 1000;
}

#logoutButton:hover {
  background-color: #e04b4b;
  transform: scale(1.05);
}



/* Logo oben links */
.header-logo {
  position: absolute;
  top: 10px;
  left: 10px;    
  width: 50px;    
  height: 50px;   
  object-fit: contain;
  z-index: 10;
  border-radius: 50%; 
  overflow: hidden;  
}
